###############################################################################
# Environment & Secrets
###############################################################################
.env*
!.env.example

###############################################################################
# Dependencies & Build Output
###############################################################################
node_modules/
apps/*/node_modules/
build/
dist/
apps/*/dist/
.next/
apps/*/.next/
.turbo/
apps/*/.turbo/
.convex/
*.tsbuildinfo

###############################################################################
# Logs, System & Testing
###############################################################################
*.log
.DS_Store
coverage/
.vercel
