###############################################################################
# Environment & Secrets
###############################################################################
.env*
!.env.example

###############################################################################
# Dependencies & Build Output
###############################################################################
node_modules/
build/
dist/
.turbo/

###############################################################################
# Logs, System & Testing
###############################################################################
*.log
.DS_Store
coverage/
