###############################################################################
# Environment & Secrets
###############################################################################
.env*
!.env.example

###############################################################################
# Dependencies & Build Output
###############################################################################
node_modules/
packages/*/node_modules/
build/
dist/
packages/*/dist/
.next/
.turbo/
.convex/
*.tsbuildinfo

###############################################################################
# Logs, System & Testing
###############################################################################
*.log
.DS_Store
coverage/
.vercel
